<html>
  <head>
    <title>T</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "public/css/main.css" %}">
  </head>
  <body>
    <h2>Teacher mode</h2>
    <h5>课程名:{{ course.name }}</h5>
    <h5>创建人:{{ creator.nickname }}</h5>
    <h5>人气:{{ course.popularity }}</h5>
    <h5>课程描述:{{ course.description }}</h5>
    <h5>status:{{ course.status }}</h5>
    <h5>加课密码:<p id="pwd">{{ course.password }}</p></h5>

    <form id="chgPwd" action="{{ course.name }}/newpwd" method="POST">
      {% csrf_token %}
      <input type="submit" value="更新密码">
    </form>

    <div id="Members">
      <h5>Members:</h5>
      <ul>
        {% for m in cm %}
        <li>
          <a href="/users/{{ m.uname }}">{{ m.uname }}: ({{ m.uprivilege }})</a>
          <form action="{{ course.name }}/{{ m.uname }}/del" method="post">
            {% csrf_token %}
            <input type="submit" value="删除用户">
          </form>
          <form action="{{ course.name }}/{{ m.uname }}/spriv" method="post">
            {% csrf_token %}
            <select name="priv2">
              <option value = "adm">Admin</option>
              <option value = "tea">Teacher</option>
              <option value = "asi">Asistant</option>
              <option value = "stu">Student</option>
            </select>
            <input type="submit" value="修改权限">
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>

    <script type="text/javascript">
      window.addEventListener("load", function () {
        function sendDataChgPwd() {
          form = event.target;
          var url = form.action;
          var XHR = new XMLHttpRequest();
          var FD  = new FormData(form);
          XHR.onreadystatechange = function() {
            if (XHR.readyState==4 && XHR.status==200) {
              result = XHR.responseText.replaceAll("&quot;", "\"");
              result = JSON.parse(result);
              if (result["status"]) {
                if (result["status"] == 1) {
                  confirm("修改成功");
                  document.getElementById("pwd").innerText = result["pwd2"];
                } else {
                  alert("[Debug] "+result["reason"])  // TODO
                }
              } else {
                alert("[Debug] POST error");  // TODO
              }
            }
          }
          XHR.open("POST", url);
          XHR.send(FD);
        }

        function sendDataDelUser() {
          form = event.target;
          var url = form.action;
          var XHR = new XMLHttpRequest();
          var FD  = new FormData(form);
          XHR.onreadystatechange = function() {
            if (XHR.readyState==4 && XHR.status==200) {
              result = XHR.responseText.replaceAll("&quot;", "\"");
              result = JSON.parse(result);
              if (result["status"]) {
                if (result["status"] == 1) {
                  confirm("删除成功");
                  location.reload();
                } else {
                  alert("[Debug] "+result["reason"])  // TODO
                }
              } else {
                alert("[Debug] POST error");  // TODO
              }
            }
          }
          XHR.open("POST", url);
          XHR.send(FD);
        }

        function sendDataChgPriv() {
          form = event.target;
          var url = form.action;
          var XHR = new XMLHttpRequest();
          var FD  = new FormData(form);
          XHR.onreadystatechange = function() {
            if (XHR.readyState==4 && XHR.status==200) {
              result = XHR.responseText.replaceAll("&quot;", "\"");
              result = JSON.parse(result);
              if (result["status"]) {
                if (result["status"] == 1) {
                  confirm("修改成功");
                  location.reload();
                } else {
                  alert("[Debug] "+result["reason"])  // TODO
                }
              } else {
                alert("[Debug] POST error");  // TODO
              }
            }
          }
          XHR.open("POST", url);
          XHR.send(FD);
        }

        var form = document.getElementById("chgPwd");
        form.addEventListener("submit", function (event) {
          event.preventDefault();
          sendDataChgPwd();
        });

        memLis = document.getElementById("Members").getElementsByTagName("ul")[0].getElementsByTagName("li");
        for (var i=0;i<memLis.length;i++) {
          form = memLis[i].getElementsByTagName("form")[0];
          form.addEventListener("submit", function (event) {
            event.preventDefault();
            sendDataDelUser();
          });
          form = memLis[i].getElementsByTagName("form")[1];
          form.addEventListener("submit", function (event) {
            event.preventDefault();
            sendDataChgPriv();
          });
        }

      });
    </script>
  </body>
</html>

