<html>
  <head>
    <title>{{ course.name }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "public/css/main.css" %}">
  </head>
  <body>
    <h2>Visitor mode</h2>
    <h5>课程名:{{ course.name }}</h5>
    <h5>创建人:{{ creator.nickname }}</h5>
    <h5>人气:{{ course.popularity }}</h5>
    <h5>课程描述:{{ course.description }}</h5>
    <h5>status:{{ course.status }}</h5>
    <h5>TODO</h5>
    <form id="doJoin" action="{% url "courses:doJoin" cname=course.name %}" method="POST">
      {% csrf_token %}
      加课密码: <input name="password" type="password" id="pwd"></input><p class="necessary">*</p></br>
      <input type="submit" value="submit">
    </form>

    <script type="text/javascript">
      window.addEventListener("load", function () {
        function sendData() {
          const necessary = {
            "pwd": "加课密码",
          }
          for (const n in necessary) {
            var elem = document.getElementById(n);
            if (elem.value=="") {
              alert("请输入"+necessary[n]);
              return;
            }
          }

          var url = form.action;
          var XHR = new XMLHttpRequest();
          var FD  = new FormData(form);
          XHR.onreadystatechange = function() {
            if (XHR.readyState==4 && XHR.status==200) {
              result = XHR.responseText.replaceAll("&quot;", "\"");
              console.log(result)
              /*
              result = JSON.parse(result);
              if (result["status"]) {
                if (result["status"] == 1) {
                  //confirm("登陆成功");
                  document.cookie = "utk="+result['data']['token']+"; path=/";
                  window.location.href = result['data']['href'];
                } else {
                  alert("[Debug] "+result["reason"])  // TODO
                }
              } else {
                alert("[Debug] POST error");  // TODO
              }
              */
            }
          }
          XHR.open("POST", url);
          XHR.send(FD);
        }

        var form = document.getElementById("doJoin");
        form.addEventListener("submit", function (event) {
          event.preventDefault();
          sendData();
        });
      });
    </script>

  </body>
</html>
