{% extends "generics/base.html" %}

{% block title %}
{{ user.nickname }}
{% endblock title %}

{% block content %}

{% if course_info_list == None %}
{# Viewing from other users #}
<p>Hello {{ user.name }}, this is profile of {{ others_name }}</p>
{% else %}
<p>Welcome {{ user.name }}!</p>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{# Here is for open user profile #}

{% if course_info_list %}
<div id="myCourses">
  <h2>My Courses:</h2>
  <ul>
    {% for course_info in course_info_list %}
    <li><a href="{% url 'courses:profile' course_info.id%}">{{ course_info.name }}({{ course_info.role }})</a></li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock content %}