<html>
  <head>
    <title>S</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "public/css/main.css" %}">
  </head>
  <body>
    <h5>题目：{{ hw.title }}</h5>
    <h5>创建人：{{ hw.ctrname }}</h5>
    <h5>课程：{{ hw.cname }}</h5>
    <h5>描述：{{ hw.description }}</h5>
    <h5>提示：{{ hw.tips }}</h5>
    <h5>答案：{{ hw.answer }}</h5>
    <h5>status：{{ hw.status }}</h5>
    <h5>创建日期：{{ hw.cr_date }}</h5>
    <h5>结束日期：{{ hw.cl_date }}</h5>

    <div id="files">
      <h5>Files:</h5>
      <ul>
        {% for fh in fhs %}
        <li>
          <a href="{{ fh.url }}">{{ fh.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div id="Docker">
      Docker: 
      {% if dk and dk != None %}
      {{ dk.host }} {{ dk.port }} ({{ dk.status }})
      {% endif %}
    </div>

    </br>
    <div id="cmtHw">
      <h5>提交作业：</h5>
      <form action="/homeworks/{{ hw.id }}/commit" method="post">
        {% csrf_token %}
        <input name="answer"/>
        {% if hs %}
        <input type="submit" value="重新提交"/>
        <p>旧答案：{{ hs.answer }}</p>
        <p>status：{{ hs.status }}</p>
          {% if hs.types == 1 %}
          <p>分数：{{ hs.grades }}</p>
          <p>评价：{{ hs.comment }}</p>
          {% endif %}
        {% else %}
        <input type="submit" value="提交"/>
        {% endif %}
      </form>
    </div>
  </body>
</html>
