{% extends 'generics/base.html' %}

{% block content %}

<h2>Information</h2>
<table class="table table-borderless">
    <tr>
        <td>Title</td>
        <td>{{ task.title }}</td>
    </tr>
    <tr>
        <td>Course</td>
        <td>{{ task.course.name }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ task.description|default:"N/A" }}</td>
    </tr>
    <tr>
        <td>Tips</td>
        <td>{{ task.tips|default:"N/A" }}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>
        {% if task.status == 0 %}
        Draft
        {% elif task.status == 1 %}
        Running
        {% else %}
        Closed
        {% endif %}
        </td>
    </tr>
    <tr>
        <td>Created Date</td>
        <td>{{ task.create_date }}</td>
    </tr>
    <tr>
        <td>Close Date</td>
        <td>{{ task.close_date}}</td>
    </tr>
    {% if task.auxiliary_file %}
    <tr>
        <td>Auxiliary File</td>
        <td>
        <a href="{% url 'files:download' task.auxiliary_file.pk %}">Download</a>
        </td>
    </tr>
    {% endif %}
</table>

{% if is_teacher %}
<div class="row mt-3">
    <div class="m-1 col-2">
        <a href="{% url 'courses:task_update' task.pk %}" class="btn btn-primary" style="width: auto">Update Task</a>
    </div>

    <div class="m-1 col-2">
        <a href="{% url 'courses:submission_list' task.pk %}" class="btn btn-primary" style="width: auto">Submission List</a>
    </div>

    <div class="m-1 col-2">
        <a href="{% url 'dockers:dockerfile_upload' task.pk %}" class="btn btn-primary" style="width: auto">Upload Experiment</a>
    </div>
</div>
{% else %}
<div class="row">
{% if to_submit %}
    {% include "homeworks/includes/upload_homeworkfile_form.html" %}
{% else %}
<h2>Uploaded file Details:</h2>
<table class="table table-borderless">
    <tr>
        <td>Filename</td>
        <td>{{ submission.file.name }}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{ submission.status}}</td>
    </tr>
    <tr>
        <td>Commit Date</td>
        <td>{{ submission.commit_date }}</td>
    </tr>
    <tr>
        <td>Score</td>
        <td>
        {% if submission.score %}
            submission.score
        {% else %}
            <div style='color=red'>Not given yet.</div>
        {% endif %}
        </td>
    </tr>
    <tr>
    <td>Operations</td>
    <td>
        <a href="{% url 'files:download' submission.file.pk %}" target="_blank">Download</a>
        <a href="{% url 'files:delete' submission.file.pk %}" target="_blank">Delete</a>
    </td>
    </tr>
</table>
<p>Refresh the page after deletion.</p>
{% endif %}
{% if task.have_docker %}
    {% include "dockers/includes/container_status.html" %}
{% endif %}
</div>

{% endif %}


{% endblock content %}