{% extends "generics/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "public/css/main.css" %}">

{% block content %}

{% if course %}

<h2>Welcome, {{ user.username }} as {{ role }}</h2>
{# Basic information #}
<p>Course ID: {{ course.pk }}</p>
<p>Course name:{{ course.name }}</p>
<p>Creator:{{ course.creator.username }}</p>
<p>Descrition:{{ course.description }}</p>
<p><a href="{% url 'courses:task_list' course.pk %}">Task list</a></p>

{% if is_teacher %}
    <p>Course password: {{ course.password }}</p>
    <p>
    Open course?: 
        {% if course.is_open %}
        Yes
        {% else %}
        No. Student can only join with Course ID and course password.
        {% endif %}
    </p>
    <p><a href="{% url 'courses:course_edit' course.pk %}">Edit course information</a></p>
{% endif %}

{% if is_member %}
{% else %}
    <form method="post" action="{% url 'courses:course_join' course.pk %}">
    {% csrf_token %}
    {{ join_form }}
    <input type="submit" value="Join!">
    </form>
{% endif %}

{% else %}
<p>No privilege. Try to login or join course with course password.</p>
{% endif %}

{% endblock content %}