{% extends 'generics/base.html' %}

{% block content %}

<div class="container mt-2">
<table class="table">
<thead>
    <tr>
    <th scope="col" hidden="True">id</th>
    <th scope="col">User</th>
    <th scope="col">Type</th>
    <th scope="col">Change</th>
    </tr>
</thead>

{% for member_record in student_list %}
    <tr>
        <td hidden="True">{{ member_record.pk }}</td>
        <td>
            <a href="{% url 'users:profile' member_record.user.username %}">
                {{ member_record.user }}
            </a>
        </td>
        <td>
            {% if member_record.type == 1 %}
            Teacher
            {% elif member_record.type == 2 %}
            Assistant
            {% elif member_record.type == 3 %}
            Student
            {% endif %} 
        </td>
        <td><a href="{% url 'courses:privilege_change' member_record.pk %}">Change privilege</a></td>
    </tr>
{% endfor %}
</table>
</div>

{% if page_obj %}
<nav aria-label="Page navigation example">
<ul class="pagination d-flex justify-content-center m-3">
    {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="page-item"><a class="page-link disabled" href="#" disabled>Previous</a></li>
    {% endif %}
    {% for object in page_obj.paginator.page_range %}
        <li class="page-item">
            <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
        </li>
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% else %}
        <li class="page-item"><a class="page-link disabled" href="#" disabled>Next</a></li>
    {% endif %}
</ul>
</nav>
{% endif %}

{% endblock content %}