<html>
  <head>
    <title>M</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "public/css/main.css" %}">
  </head>

  <body>
    <h1>M<h1>
    <h5>课程名：{{ hs.cname }}</h5>
    <h5>status：{{ hs.status }}</h5>
    <h5>types：{{ hs.types }}</h5>
    <h5>提交日期：{{ hs.cm_date }}</h5>
    <h5>学生答案：{{ hs.answer }}</h5>
    {% if hs.types == 1 %}
    <h5>成绩：{{ hs.score }}</h5>
    <h5>评价：{{ hs.comment }}</h5>
    {% endif %}

    <div id="Score">
      <form id="doScore" action="/homeworks/commitments/{{ hs.id }}/score" method="post">
        {% csrf_token %}
        分数：<input name="score"/></br>
        评价：<input name="comment"/></br>
        <input type="submit" value="评价">
      </form>
    </div>

    <script>
      window.addEventListener("load", function () {
        function sendDataScore() {
          form = event.target;
          var url = form.action;
          var XHR = new XMLHttpRequest();
          var FD  = new FormData(form);
          XHR.onreadystatechange = function() {
            if (XHR.readyState==4 && XHR.status==200) {
              result = XHR.responseText.replaceAll("&quot;", "\"");
              result = JSON.parse(result);
              if (result["status"]) {
                if (result["status"] == 1) {
                  confirm("评分成功");
                  location.reload();
                } else {
                  alert("[Debug] "+result["reason"])  // TODO
                }
              } else {
                alert("[Debug] POST error");  // TODO
              }
            }
          }
          XHR.open("POST", url);
          XHR.send(FD);
        }

        var form = document.getElementById("doScore");
        form.addEventListener("submit", function (event) {
          event.preventDefault();
          sendDataScore();
        });
      });

    </script>
  </body>
</html>
