{% extends "generics/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static " public/css/main.css" %}">

{% block content %}
  {% if form.non_field_errors %}
  <ul class='form-errors' style="color:Tomato;">
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <form action="{% url 'users:signup' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>


  <a href="{% url 'users:login' %}" id="login">登陆</a>
{% endblock content %}