{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="container no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="container no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="container no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="container no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'js/boostrap.bundle.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>

<div id="header" class="header container-fluid row">
    {# hard coded image, in the `trial/trial/static` #}
    <div class="logo col-sm-2 center">
        <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="CAaD" width="" height="50"></a>
    </div>
        <div class="title col-sm-8">
            <h1>{{ title | default:"Fill in title variable" }}<h1>
        </div>
    <div class="user col-sm-2">

        {% block status %}
            {% if user.is_authenticated %}
            Hello 
            <a href="{% url 'users:profile' user.username %}">
            {{ user.username }}
            </a>
            . <a href="{% url 'users:logout_view' %}">Logout</a>
            {% else %}
            Anonymous User. <a href="{% url 'users:login' %}">Login</a>
            {% endif %}
        {% endblock status %}

    </div>
</div>


<div id="body" class="container-fluid row">
    <div class="navi col-sm-2 flex-fill">
    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href='{% url "index" %}'>Homepage</a>
            </li>
            {% block navigation %}
            <li class="nav-item">
                <a class="nav-link" href='{% url "courses:studying_list_my" %}'>My Studying</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='{% url "courses:tasks_list_my" %}'>My Tasks</a>
            </li>

            {% if user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href='{% url "courses:teaching_list_my" %}'>My Teaching</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='{% url "admin:index" %}'>Administration</a>
            </li>
            {% endif %}

            {% comment %} <li class="nav-item"><a class="nav-link" href="#">SVN</a></li>
            <li class="nav-item dropdown btn-group">
                <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown">
                    Java
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">jmeter</a></li>
                    <li><a class="dropdown-item" href="#">EJB</a></li>
                    <li><a class="dropdown-item" href="#">Jasper Report</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">分离的链接</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">另一个分离的链接</a></li>
                </ul>
            </li> {% endcomment %}
            {% endblock %}

        </ul>
    </nav>
    </div>

    <div class="content col-sm-10 container">

    <div class="row align-items-baseline text-warning">
    {% block message_framework %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == default_message_levels.error %}important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endblock message_framework %}
    </div>


    <div class="row align-items-center">
        {% block content%}
        <div>
            <p>Here comes the main content</p>
        </div>
        {% endblock %}
    </div>


    <div class="row align-items-end">
    {% block error_display %}
    {% if form %}
        {% comment %} {% if form.errors %}
        
        <ul class="errors">
            {% for k, v in form.errors.items %}

            <li>{{ k }}: {{ v }}</li>
            
            {% endfor %}
        </ul>
        {% endif %} {% endcomment %}

        {% if form.non_field_errors %}
        
        <p>Here are the errors:</p>
        <ol class="non_field_errors bg-danger">
        {% for error in form.non_field_errors %}

        <li>{{ error }}</li>
        
        {% endfor %}
        </ul>
        
        {% endif %}
    {% endif %}
    {% endblock error_display %}
    </div>


    </div>

</div>


<script src="" async defer>
{% block script %}{% endblock script %}
</script>
    </body>
</html>