{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="container no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="container no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="container no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="container no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'default_style.css' %}">
        <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    <div class="container logo">
    {# hard coded image, in the `trial/trial/static` #}
    <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="LOGO" width="50" height="50"></a>
    </div>
    <div class="container subject">
    {% block subject %}
    Here comes the subject.
    {% endblock %}
    </div>

    <div class="container navi">
    {% block navigation %}
    Here comes the navigation frame.
    {% endblock %}
    </div>
    <div class="container user">
    {% block status %}
    
    {% if user.is_authenticated %}
    Hello 
    <a href="{% url 'users:profile' user.username %}">
    {{ user.username }}
    </a>
    . <a href="{% url 'users:logout_view' %}">Logout</a>
    {% else %}
    Anonymous User. <a href="{% url 'users:login' %}">Login</a>
    {% endif %}
    {% endblock status %}
    </div>

    <div class="main-content">
    {% block error_display %}

    {% if form %}

    {% if form.errors %}
    
    <ul class="errors">
    {% for k, v in form.errors.items %}

    <li>{{ k }}: {{ v }}</li>
    
    {% endfor %}
    </ul>
    {% endif %}

    {% if form.non_field_errors %}
    
    <ul class="non_field_errors">
    {% for k, v in form.non_field_errors %}

    <li>{{ k }}: {{ v }}</li>
    
    {% endfor %}
    </ul>
    
    {% endif %}
    {% endif %}

    {% endblock error_display %}

    {% block message_framework %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% endblock message_framework %}
    {% block content%}
    Here comes the main content
    {% endblock %}
    </div>

        <script src="" async defer>
        {% block script %}{% endblock script %}
        </script>
    </body>
</html>