.header {
    /* background-color: #87bdd8; */
}

.logo {
    /* background-color: lightpink; */
    background-color: #87bdd8;
}

.user {
    /* background-color: lightsalmon; */
    background-color: #87bdd8;
}

.title {
    /* background-color: lightgray; */
    background-color: #b7d7e8;
}

#body {
    min-height: 90vh;
}

.navi {
    background-color: #b7d7e8;
}

.nav-link {
    padding-left: 0;
    padding-top: 10px;
}

.content {
    background-color: #cfe0e8;
    border-top: 10px;
}

/* .row > a + .btn {
    width: 17rem;
} */