<html>
  <head>
    <title>Create Course</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "public/css/main.css" %}">
  </head>
  <body>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form id="doCreate" action="{% url "courses:doCreate" %}" method="POST">
      {% csrf_token %}
      课程名: <input name="name" id="name"></input><p class="necessary">*</p></br>
      描述: <input name="description" id="description"></input><p class="necessary">*</p></br>
      <input type="submit" value="submit">
    </form>

    <script type="text/javascript">
      window.addEventListener("load", function () {
        function sendData() {
          const necessary = {
            "name": "课程名", 
            "description": "描述", 
          }
          for (const n in necessary) {
            var elem = document.getElementById(n);
            if (elem.value=="") {
              alert("请输入"+necessary[n]);
              return;
            }
          }

          form = event.target;
          var url = form.action;
          var XHR = new XMLHttpRequest();
          var FD  = new FormData(form);
          XHR.onreadystatechange = function() {
            if (XHR.readyState==4 && XHR.status==200) {
              result = XHR.responseText.replaceAll("&quot;", "\"");
              console.log(result);
              result = JSON.parse(result);
              if (result["status"]) {
                if (result["status"] == 1) {
                  confirm("创建成功");
                  window.location.href = result["href"];
                } else {
                  alert("[Debug] "+result["reason"])  // TODO
                }
              } else {
                alert("[Debug] POST error");  // TODO
              }
            }
          }
          XHR.open("POST", url);
          XHR.send(FD);
        }

        var form = document.getElementById("doCreate");
        form.addEventListener("submit", function (event) {
          event.preventDefault();
          sendData();
        });
      });
    </script>
  </body>
</html>
